<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>{{teamname}} Roster</h1>
<p><a href="/team">teams</a></p>
<p><a href="/player">player</a><p>
<p><a href="/playoff">2019 playoff</a></p>
  
 <p>2018 roster</p>
<table width="400" border="1" class="table">
  <tr>
    <th>Name</th>
    <th>Year</th>
  </tr>
  {% for n in data %}
    {%if n.year==2018 %}
     <tr>
      <td><a href='/playerinfo/{{n.playerid}}'>{{n.name}}</a></td>
      <td>{{n.year}}</td>
    </tr>
    {% endif %} 
  {% endfor %}
</table>


<p>2019 roster</p>
  <table width="400" border="1" class="table">
    <tr>
      <th>Name</th>
      <th>Year</th>
    </tr>
    {% for n in data %}
      {%if n.year==2019 %}
       <tr>
         <td><a href='/playerinfo/{{n.playerid}}'>{{n.name}}</a></td>
      <td>{{n.year}}</td>
 </tr>
 {% endif %}
{% endfor %}
</table>



<!--
<div>{{data}}</div>
-->
<!--
  <div>
    {% for n in data %}
    <div>{{n.name}} {{n.conference}} {{n.division}}</div>
    {% endfor %}
  </div>

<div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/search">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> 
-->

</body>


</html>
